<div class="books_form">
  <h2>ブック一覧表</h2>
  <% @books.each do |book| %>
    <div class="books_lists">
      <%= book.title %></td>
      <div class="books_lists_button">
        <%= link_to '編集', edit_book_path(book), method: 'get', class: "form_button"%></td>
        <%= link_to '削除', book_path(book), method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: "form_button delete" %></td>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "ホームページへ", new_search_path, class: 'button' %>
