<h1>Search Results</h1>

<% if @search == nil ||
  @search.search_book.empty? %>
  <p>検索した本はありません。</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>カテゴリー</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @search.search_book.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.category.name %></td>
          <td><%= link_to 'Show', book %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<p><%= link_to "ホームページへ", new_search_path %></p>