<div class="category-form">
  <h2>検索結果</h2>
  
  <% if @search == nil ||
    @search.search_book.empty? %>
    <p class="search-empty">検索した本はありません。</p>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>カテゴリー</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @search.search_book.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.category.name %></td>
          <td><%= link_to 'Show', book, class: 'form_button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<p><%= link_to "ホームページへ", new_search_path, class: 'button' %></p>
