// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.books_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 700px;
  background: var(--white);

  margin: 3rem auto 2.5rem;
  padding: 4rem 5rem;

  border: 1px solid var(--input-border);
  border-radius: 1.25rem;

  overflow: hidden;
  .show_books{
    display: flex;
    justify-content: flex-start;;
    align-items: center;

    width: 100%;
    padding: 1.8rem 1rem;
    h3{
      width: 150px;
      margin-right: 1rem;
    }
    p{
      flex: 1;
    }
  }
  .books_lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    margin-top: 1.5rem;
    .books_lists_button{
      display: flex;
      .form_button{
        width: 5rem;
        height: 2rem;
        color: var(--primary-color-dark);
        border: 1px solid var(--primary-color-dark);
        background-color: transparent;
        border-radius: 4px;

        cursor: pointer;

        transition: background-color 0.2s;
        margin: 0 0 0 1rem;
        &.delete{
          color: var(--white);
          border-color: var(--white);
          background-color: var(--delete-color);
        }
        &.delete:hover{
          color: var(--white);
          border-color: var(--white);
          background-color: var(--delete-color-light);
        }
        &:hover {
          border: 0;
          color: var(--white);
          background-color: var(--secondary-color-light);
        }
      }
    }
  }
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 

  .selectbox {
    width:90%;
    margin:1em auto;
    position:relative;
  }
  select{
    -webkit-appearance:none;
    margin-top: 2.5rem;
    appearance:none;
    height: 3.125rem;
    width:100%;
    padding: .8rem 1em;
    box-sizing: border-box;
    font-size: 1rem;
    border:#ccc 1px solid;
    border-radius:0;
    background: var(--input-background);
    color: var(--input-color);
  }
  .selectbox::after{
    content:"";
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    right:5%;
    top:35%;
    border-bottom:#333 2px solid;
    border-right:#333 2px solid;
    transform:rotate(45deg)translateY(-30%);
  }
  .title-input{
    display: flex;
    
    padding: .8rem 1em;
    margin-top: 2.5rem;
    width: 450px;
    font-size: 1.25rem;
    height: 3.125rem;
    
    color: var(--input-color);
    background: var(--input-background);
    border: 1px solid var(--input-border);
    outline: none;
    &.text-area{
      height: 180px;
      font-size: 1rem;
    }
  }
}
