// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.category-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 700px;
  background: var(--white);

  margin: 3rem auto 2.5rem;
  padding: 4rem 5rem;

  border: 1px solid var(--input-border);
  border-radius: 1.25rem;

  overflow: hidden;
  .category-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    margin-top: 1.5rem;
    .category-lists-button{
      display: flex;
      .form_button{
        &.delete{
          color: var(--white);
          border-color: var(--white);
          background-color: var(--delete-color);
        }
        &.delete:hover{
          color: var(--white);
          border-color: var(--white);
          background-color: var(--delete-color-light);
        }
      }
    }
  }
  .title-input{
    display: flex;

    margin-top: 1.8rem;
    padding: .8rem 1em;
    width: 450px;
    font-size: 1.2rem;
    height: 3.125rem;

    color: var(--input-color);
    background: var(--input-background);
    border: 1px solid var(--input-border);
    outline: none;
  }
  form{
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .icon-plus{
    position: absolute;
    color: var(--secondary-color);
    right: 11.5%;
    top: 18.5%;
  }
  .title-list{
    margin-bottom: 1.5rem;
  }
}