:root {
  --background: #f5e1bb;
  --primary-color: #da940e;
  --primary-color-light: #f3b846;
  --primary-color-dark: #5f5a5a;
  --secondary-color: #3d72d6;
  --secondary-color-light: #a1bdf1;
  --delete-color: #f35a5a;
  --delete-color-light: #f92323;
  --input-background: #F5F8FA;
  --input-color: #3a300d;
  --input-border: #e5e1d3;
  --text-title: #212020;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  background: var(--background);
  color: var(--text-title);
  -webkit-font-smoothing: antialiased;
}

body, input, button, textarea, select {
  font: 600 1.25rem Nunito, sans-serif;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 2rem auto;

  width: 18.75rem;
  height: 3.5rem;

  color: var(--white);
  background-color: var(--primary-color);
  border: 0;
  border-radius: 1rem;

  cursor: pointer;

  transition: background-color 0.2s;
  &:hover {
    color: var(--primary-color-dark);
    background-color: var(--primary-color-light);
  }
}


.form_button{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem auto;
  width: 300px;
  height: 3.5rem;
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  background-color: transparent;
  border-radius: 1rem;

  cursor: pointer;

  transition: background-color 0.2s;
  &:hover {
    border: 0;
    color: var(--white);
    background-color: var(--secondary-color-light);
  }
}


.back_button{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 300px;
  height: 56px;
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  background-color: transparent;
  border-radius: 1rem;

  cursor: pointer;

  transition: background-color 0.2s;
  &:hover {
    border: 0;
    color: var(--white);
    background-color: var(--secondary-color-light);
  }
}
