// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
  display: flex;
  height: 100vh;
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    .search-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 700px;
      background: var(--white);

      margin: 3rem auto 32px;
      padding: 4rem 5rem;

      border: 1px solid #e5e1d3;
      border-radius: 1.25rem;

      overflow: hidden;
      .title-input{
        display: flex;

        width: 80%;
        font-size: 30px;
        height: 3.125rem;
        margin-top: 2.5rem;

        color: #3a300d;
        background: var(--input-background);
        border: 1px solid #D3E2E5;
        outline: none;
      }
    }
    .form-radio-input{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      width: 700px;
      background: var(--white);
      padding: 32px 5rem;
      margin: 0 auto;

      border: 1px solid #e5e1d3;
      border-radius: 1.25rem;

      overflow: hidden;
      input{
        width: 50%;
        margin-top: 15px;
      }
      label{
        width: 50%;
        margin-top: 15px;
      }
    }
  }

  .navbar {
    width: 5rem;
    height: 100%;
    background: #f6f6f6;
    ul{
      text-align: center;
      > li:first-child{
        padding: 30px 0 25px 0;
        .fa-plus-circle {
          color: #3d72d6;
        }
      }
      li{
        padding: 25px 0 15px 0;
        .fa{
          color: #3a300d;
        }
      }
    }
  }
}

.form_button{
  width: 5rem;
  height: 32px;
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  background-color: transparent;
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 0.2s;
  margin: 0 0 0 16px;
  &:hover {
    border: 0;
    color: var(--white);
    background-color: var(--secondary-color-light);
  }
}


li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

table { 
    border-spacing: 16px;
    border-collapse: separate;
  th:first-child{
    width: 50%;
  }
  th{
    width: 40%;
  }
  th:last-child{
    width: 15%;
  }
}

.search-empty{
  margin-top: 12px;
}