<%= form_with model: @category, local: true do |f| %>
  <div class="search-form">
    <h2>新しい本の登録</h2>
    <%= f.text_field :name, placeholder: "カテゴリー名を入力してください。",class: "title-input"  %>
  </div>

  <%= f.submit "登録", class: "button" %>
<% end %>

<%= link_to "戻る", :back, class: 'global_button' %>